token="{{ buildkite_agent_token }}"
name="{{ buildkite_agent_name }}-%n"
tags="{{ buildkite_agent_tags }}"
git-clean-flags="-ffdqx"
debug={{ buildkite_agent_debug }}
build-path="{{ buildkite_agent_builds_path }}"